body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
  
 }

.vote
{

  right: 20px;


}

.vote-text
{

  margin-bottom:16px;

}

.icon {
    
    background-color: #FFF;
    -webkit-mask-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;

}

.circle
{

	background-color: #ff9800;
	height: 70px;
	width: 70px;
	z-index: 2;
	padding: 15px;
	margin-right: 20px;

}

input[type=text]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), input[type=password]:focus:not([readonly])
{


	border-bottom: 1px solid #ef6c00;
	box-shadow: 0 1px 0 0 #ef6c00;

}

.logo
{

  background-color: #FFF;
    -webkit-mask-size: cover;
    height: 50px;
    width: 50px;
    margin: 5px;
    z-index: 1;
    -webkit-mask-image: url(../images/meow.svg);
    mask-image: url(../images/meow.svg);
    float: right;

}

/* types of avatars*/

.cat
{

    -webkit-mask-image: url(../images/cat.svg);
    mask-image: url(../images/cat.svg);

}

.yarn
{

	-webkit-mask-image: url(../images/yarn.svg);
    mask-image: url(../images/yarn.svg);

}

.paw
{

	-webkit-mask-image: url(../images/paw.svg);
    mask-image: url(../images/paw.svg);

}

.mouse
{

	-webkit-mask-image: url(../images/mouse.svg);
    mask-image: url(../images/mouse.svg);

}

.fish
{

	-webkit-mask-image: url(../images/fish.svg);
    mask-image: url(../images/fish.svg);

}

.op
{

  -webkit-mask-image: url(../images/op.svg);
    mask-image: url(../images/op.svg);

}

/* colors */



.red
{

	background-color: #e51c23;

}

.blue
{

	background-color: #3f51b5;

}

.green
{

	background-color: #5af158;

}

.purple
{

	background-color: #673ab7;

}

.pink
{

	background-color: #ff4081;

}

.yellow
{

	background-color: #FFC107;

}

.orange
{

	background-color: #ff5722;

}

.grey
{

	background-color: #37474F;

}

/* ng-animate transition*/

.animate.ng-enter, 
.animate.ng-leave
{ 
    transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
} 

.animate.ng-enter 
{
	display: : none;
    opacity: 0;

}
.animate.ng-enter-active {
    
	display: initial;
    opacity: 1;
}
.animate.ng-leave {

	display: initial;
    opacity: 1;
}
.animate.ng-leave-active {
    opacity: 0;
    display: none;
}

.animate.on-add {
  background:white;
}
.animate.on {
  background:yellow;
}
.animate.on-remove {
  background:black;
}
